
.root {
    padding: 50px;
    height: 70px;
    width: 140px;
    box-shadow: 0 5px 33px -13px rgb(0 0 0 / 50%);
    background: hsl(0deg 0% 100% / 70%);
    flex-direction: column;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.root:hover {
    height: 90px;
    width: 160px;
}

.numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

.title {
    font-size: 30px;
    color: #000;
}
